<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="CYC_PracticasEntities" connectionString="metadata=res://*/DTO.ModelDB.csdl|res://*/DTO.ModelDB.ssdl|res://*/DTO.ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRVMV26;initial catalog=CYC_Practicas;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>